* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(243, 243, 243);
}

body {
    background-color: white;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.page-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.5rem;
}

.portal-header {
    background-color: black;
    color: white;
    padding: 1.75rem;
}

.portal-header h1 {
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
}

.page-nav {
    width: 100%;
}

.portal-nav {
    background-color: lightgray;
    padding: 0.5rem;
}

.portal-nav a {
    padding: 0.5rem;
}

.nav-list {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav-item {
    background: linear-gradient(to bottom, rgb(47, 47, 47), black);
    display: inline-block;
    margin-right: 1px;
    width: 100%;
}

.nav-item-last {
    margin-right: 0;
}

.nav-item a {
    color: white;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link-drop-cap {
    font-size: 1.35rem;
}

main {
    min-height: 100vh;
    overflow-x: auto;
    padding-bottom: 2.75rem;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2.75rem;
}

main h1 {
    border-bottom: 0.5rem solid gray;
    padding-bottom: 0.75rem;
    font-size: 2rem;
    font-weight: 100;
}

main hr {
    color: lightgray;
}

main table {
    border-collapse: collapse;
    margin-top: 1.75rem;
}

main table th, main table td {
    border: 1px solid black;
    padding: 0.35rem;
    text-align: center;
}

main table td.table-row-separator {
    background-color: black;
    padding: 1rem;
}

section {
    height: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
}

.section-note {
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}

.section-note-red {
    background-color: rgba(255, 0, 0, 0.25);
    border-left: 1rem solid rgb(255, 0, 0);
}

.section-note-yellow {
    background-color: rgba(255, 255, 0, 0.25);
    border-left: 1rem solid rgb(255, 255, 0);
}

section h2 {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.section-img {
    border: 1px solid black;
    display: block;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

section p {
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
}

form {}

label {}

input {
    width: 100%;
}

.textbox {
    border: 2px solid lightgray;
    padding: 0.5rem;
}

.submit-button {
    background-color: rgba(0, 0, 255, 0.25);
    border: 2px solid gray;
    padding: 1rem;
}

.paragraph-drop-cap {
    font-weight: bold;
    font-size: 2rem;
}

.page-footer {
    background: linear-gradient(to bottom, black, rgb(47, 47, 47));
    color: white;
    margin-top: auto;
    padding: 1.5rem;
}

.page-footer p {
    text-align: center;
}

.page-footer p a {
    color: gray;
}