* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(243, 243, 243);
}

body {
    background-color: rgb(47, 47, 47);
    min-height: 100vh;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* .page-header class styling rules. */
.page-header {
    background-image: url(/images/ion-base.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
}

/* .page-nav class styling rules. */
.page-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.page-nav-item {
    background-image: linear-gradient(to bottom, rgb(47, 47, 47), black);
    display: inline-block;
    margin-right: 1px;
    width: 100%;
}

.page-nav-item-last {
    margin-right: 0;
}

.page-nav-item a {
    color: white;
    display: block;
    font-weight: bold;
    padding: 1.25rem;
    text-align: center;
    text-decoration: none;
}

.page-nav-item a span {
    font-size: 1.35rem;
}

/* <main> element styling rules. */
main {
    background-color: white;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-bottom: 2.5rem;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 2.5rem;
}

main h1 {
    border-bottom: 0.5rem solid gray;
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 0.75rem;
}

main hr {
    color: lightgray;
}

section, main hr {
    margin-top: 1.5rem;
}

section h2 {
    margin-bottom: 0.75rem;
}

/* .page-footer class styling rules. */
.page-footer {
    background-image: linear-gradient(to top, rgb(47, 47, 47), black);
    color: white;
    margin-top: auto;
    padding: 2.5rem;
}

.page-footer p {
    text-align: center;
}

/* Media query rules for larger resolutions. */
@media only screen and (min-width: 1366) {
    main {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

@media only screen and (min-width: 1920) {
    main {
        padding-left: 25vw;
        padding-right: 25vw;
    }
}